[Desktop Entry]
Type=Application
Name=Notas
GenericName=Archfrican notepad
Comment=Bloc de notas persistente en ~/.local/state/archfrican/notepad.md
Exec={{ .chezmoi.homeDir }}/.local/bin/archfrican-notepad
Icon=text-editor
Terminal=false
Categories=Utility;TextEditor;
Keywords=archfrican;notas;notepad;nota;texto;apuntes;
